<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>TinkPage</title> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js" integrity="sha512-M8VjsuCj1iBzrwKloFNjvQBmFXT2oF0MWExoLGpQT2nEx5tq7CP+BhWGJdczT1LoWAhyqHh+LJ6ihHSVGyclHw==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<style>
			.results {
				white-space: pre-line
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<!--
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Skill</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<div class="select">
									<select v-model="skill">
										<option>Select</option>
										<option v-for="option in skills" :value="option.value">
											{{ option.text }}
										</option>
									</select>
								</div>
							</p>
						</div>
					</div>
				</div>
				-->

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Skill Level</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" type="number" v-model="skillLevel">
							</p>
						</div>
					</div>
				</div>
			
			
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Item Workmanship</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" type="number" v-model="itemWorkmanship">
							</p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Salvage Workmanship</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" type="number" v-model="salvageWorkmanship">
							</p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Material</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<div class="select">
									<select v-model="material">
										<option>Select</option>
										<option v-for="option in materials" :value="option.value">
											{{ option.text }}
										</option>
									</select>
								</div> 
							</p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label"></div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<button class="button is-link" v-on:click="compute">Compute</button>
							</p>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label"></div>
					<div class="field-body">
						<div class="field">
							<p class="results">{{ results }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script>

	var materialCeramic             =                           1;
	var materialPorcelain           =                           2;
	var materialCloth               =                           3;
	var materialLinen               =                           4;
	var materialSatin               =                           5;
	var materialSilk                =                           6;
	var materialVelvet              =                           7;
	var materialWool                =                           8;
	var materialGem                 =                           9;
	var materialAgate               =                          10;
	var materialAmber               =                          11;
	var materialAmethyst            =                          12;
	var materialAquamarine          =                          13;
	var materialAzurite             =                          14;
	var materialBlackGarnet         =                          15;
	var materialBlackOpal           =                          16;
	var materialBloodstone          =                          17;
	var materialCarnelian           =                          18;
	var materialCitrine             =                          19;
	var materialDiamond             =                          20;
	var materialEmerald             =                          21;
	var materialFireOpal            =                          22;
	var materialGreenGarnet         =                          23;
	var materialGreenJade           =                          24;
	var materialHematite            =                          25;
	var materialImperialTopaz       =                          26;
	var materialJet                 =                          27;
	var materialLapisLazuli         =                          28;
	var materialLavenderJade        =                          29;
	var materialMalachite           =                          30;
	var materialMoonstone           =                          31;
	var materialOnyx                =                          32;
	var materialOpal                =                          33;
	var materialPeridot             =                          34;
	var materialRedGarnet           =                          35;
	var materialRedJade             =                          36;
	var materialRoseQuartz          =                          37;
	var materialRuby                =                          38;
	var materialSapphire            =                          39;
	var materialSmokeyQuartz        =                          40;
	var materialSunstone            =                          41;
	var materialTigerEye            =                          42;
	var materialTourmaline          =                          43;
	var materialTurquoise           =                          44;
	var materialWhiteJade           =                          45;
	var materialWhiteQuartz         =                          46;
	var materialWhiteSapphire       =                          47;
	var materialYellowGarnet        =                          48;
	var materialYellowTopaz         =                          49;
	var materialZircon              =                          50;
	var materialIvory               =                          51;
	var materialLeather             =                          52;
	var materialDilloHide           =                          53;
	var materialGromnieHide         =                          54;
	var materialReedsharkHide       =                          55;
	var materialMetal               =                          56;
	var materialBrass               =                          57;
	var materialBronze              =                          58;
	var materialCopper              =                          59;
	var materialGold                =                          60;
	var materialIron                =                          61;
	var materialPyreal              =                          62;
	var materialSilver              =                          63;
	var materialSteel               =                          64;
	var materialNamestone               =                          65;
	var materialAlabaster           =                          66;
	var materialGranite             =                          67;
	var materialMarble              =                          68;
	var materialObsidian            =                          69;
	var materialSandstone           =                          70;
	var materialSerpentine          =                          71;
	var materialWood                =                          72;
	var materialEbony               =                          73;
	var materialMahogany            =                          74;
	var materialOak                 =                          75;
	var materialPine                =                          76;
	var materialTeak                =                          77;

	var materialNames = {};
	materialNames[materialAgate]            = "Agate";
	materialNames[materialAlabaster]        = "Alabaster";
	materialNames[materialAmber]            = "Amber";
	materialNames[materialAmethyst]         = "Amethyst";
	materialNames[materialAquamarine]       = "Aquamarine";
	materialNames[materialAzurite]          = "Azurite";
	materialNames[materialBlackGarnet]      = "Black Garnet";
	materialNames[materialBlackOpal]        = "Black Opal";
	materialNames[materialBloodstone]       = "Bloodstone";
	materialNames[materialBrass]            = "Brass";
	materialNames[materialBronze]           = "Bronze";
	materialNames[materialCarnelian]        = "Carnelian";
	materialNames[materialCeramic]          = "Ceramic";
	materialNames[materialCitrine]          = "Citrine";
	materialNames[materialCloth]            = "Cloth";
	materialNames[materialCopper]           = "Copper";
	materialNames[materialDiamond]          = "Diamond";
	materialNames[materialDilloHide]        = "Dillo Hide";
	materialNames[materialEbony]            = "Ebony";
	materialNames[materialEmerald]          = "Emerald";
	materialNames[materialFireOpal]         = "Fire Opal";
	materialNames[materialGem]              = "Gem";
	materialNames[materialGold]             = "Gold";
	materialNames[materialGranite]          = "Granite";
	materialNames[materialGreenGarnet]      = "Green Garnet";
	materialNames[materialGreenJade]        = "Green Jade";
	materialNames[materialGromnieHide]      = "Gromnie Hide";
	materialNames[materialHematite]         = "Hematite";
	materialNames[materialImperialTopaz]    = "Imperial Topaz";
	materialNames[materialIron]             = "Iron";
	materialNames[materialIvory]            = "Ivory";
	materialNames[materialJet]              = "Jet";
	materialNames[materialLapisLazuli]      = "Lapis Lazuli";
	materialNames[materialLavenderJade]     = "Lavender Jade";
	materialNames[materialLeather]          = "Leather";
	materialNames[materialLinen]            = "Linen";
	materialNames[materialMahogany]         = "Mahogany";
	materialNames[materialMalachite]        = "Malachite";
	materialNames[materialMarble]           = "Marble";
	materialNames[materialMetal]            = "Metal";
	materialNames[materialMoonstone]        = "Moonstone";
	materialNames[materialOak]              = "Oak";
	materialNames[materialObsidian]         = "Obsidian";
	materialNames[materialOnyx]             = "Onyx";
	materialNames[materialOpal]             = "Opal";
	materialNames[materialPeridot]          = "Peridot";
	materialNames[materialPine]             = "Pine";
	materialNames[materialPorcelain]        = "Porcelain";
	materialNames[materialPyreal]           = "Pyreal";
	materialNames[materialRedGarnet]        = "Red Garnet";
	materialNames[materialRedJade]          = "Red Jade";
	materialNames[materialReedsharkHide]    = "Reedshark Hide";
	materialNames[materialRoseQuartz]       = "Rose Quartz";
	materialNames[materialRuby]             = "Ruby";
	materialNames[materialSandstone]        = "Sandstone";
	materialNames[materialSapphire]         = "Sapphire";
	materialNames[materialSatin]            = "Satin";
	materialNames[materialSerpentine]       = "Serpentine";
	materialNames[materialSilk]             = "Silk";
	materialNames[materialSilver]           = "Silver";
	materialNames[materialSmokeyQuartz]     = "Smoky Quartz";
	materialNames[materialSteel]            = "Steel";
	materialNames[materialNamestone]            = "Stone";
	materialNames[materialSunstone]         = "Sunstone";
	materialNames[materialTeak]             = "Teak";
	materialNames[materialTigerEye]         = "Tiger Eye";
	materialNames[materialTourmaline]       = "Tourmaline";
	materialNames[materialTurquoise]        = "Turquoise";
	materialNames[materialVelvet]           = "Velvet";
	materialNames[materialWhiteJade]        = "White Jade";
	materialNames[materialWhiteQuartz]      = "White Quartz";
	materialNames[materialWhiteSapphire]    = "White Sapphire";
	materialNames[materialWood]             = "Wood";
	materialNames[materialWool]             = "Wool";
	materialNames[materialYellowGarnet]     = "Yellow Garnet";
	materialNames[materialYellowTopaz]      = "Yellow Topaz";
	materialNames[materialZircon]           = "Zircon";

	var skidWeaponTinkering         =                          28;
	var skidArmorTinkering          =                          29;
	var skidItemTinkering           =                          18;
	var skidMagicItemTinkering      =                          30;

	function getMaterialMod(material) {
		switch (material) {
			case materialGold:
			case materialOak:
				return 10.0;

			case materialAlabaster:
			case materialDilloHide:
			case materialBrass:
			case materialBronze:
			case materialCeramic:
			case materialGranite:
			case materialLinen:
			case materialMarble:
			case materialMoonstone:
			case materialOpal:
			case materialPine:
			case materialReedsharkHide:
			case materialVelvet:
			case materialWool:
				return 11.0;

			case materialEbony:
			case materialGreenGarnet:
			case materialIron:
			case materialMahogany:
			case materialPorcelain:
			case materialSatin:
			case materialSteel:
			case materialTeak:
				return 12.0;

			case materialBloodstone:
			case materialCarnelian:
			case materialCitrine:
			case materialHematite:
			case materialLavenderJade:
			case materialMalachite:
			case materialRedJade:
			case materialRoseQuartz:
				return 25.0;

			default:
				return 20.0;
		}
	};

	function getSkillNeeded(params) {
		var itemWorkmanship = Number(params.itemWorkmanship);
		var salvageWorkmanship = Number(params.salvageWorkmanship);
		var attempt = params.attempt || 1;
		var material = Number(params.material) || 0;

		var chanceMod = getMaterialMod(material);
			
		if (!attempts[attempt]) {
			console.log("Can't tink item anymore.");
			return;
		}

		var aMod = attempts[attempt];// attempt mod;
			
		if (isNaN(chanceMod)) {
			console.log("The base modifier for the material you have selected has not yet been calculated");
			return;
		} else if (!chanceMod) { // Item has no difficulty
			salvageWorkmanship = 0;
			aMod = 0;
		} else if (!salvageWorkmanship) {
			console.log("Enter salvaged material quality");
			return;
		} else if (salvageWorkmanship > 10 || salvageWorkmanship < 0) {
			console.log("Salvaged material quality must be between 0 and 10");
			return;
		}
			
		var workmanshipMod = (salvageWorkmanship < itemWorkmanship) ? 1 : 2;
		return Math.floor(((5 * chanceMod) + (2 * itemWorkmanship * chanceMod) - (salvageWorkmanship * workmanshipMod * chanceMod / 5)) * aMod);
	}

	function getMaterialChance(params) {
		var skillCurrent = Number(params.skillCurrent);
		var skillNeeded = Number(params.skillNeeded);
		var material = Number(params.material);
		var Chance = (1 - (1 / (1 + Math.exp(0.03 * (skillCurrent - skillNeeded))))) * 100;

		switch(material) {					// roundoff to 2 decimal points Chance or 1/3 of Chance depending on the the material
		case materialPeridot:
		case materialYellowTopaz:
		case materialZircon:
		case materialAquamarine:
		case materialBlackGarnet:
		case materialEmerald:
		case materialImperialTopaz:
		case materialJet: 
		case materialRedGarnet:
		case materialWhiteSapphire:
		case materialAgate:
		case materialAzurite:
		case materialBlackOpal:
		case materialBloodstone:
		case materialCarnelian:
		case materialCitrine:
		case materialFireOpal:
		case materialHematite:
		case materialLavenderJade:
		case materialMalachite:
		case materialRedJade: 
		case materialRoseQuartz:
		case materialSunstone: 
			Chance /= 3; 
			break;
		}
		return Chance;
	}

	function round(rnum, rlength) { // Arguments: number to round, number of decimal places
		if (rlength == null) rlength = 0;
		return Math.round(rnum * Math.pow(10, rlength)) / Math.pow(10, rlength);
	}
		
	var attempts = [0, 1, 1.1, 1.3, 1.6, 2, 2.5, 3, 3.5, 4, 4.5];//Attempt skill modifier

	Vue.createApp({
		data: function() {
			let materials = Object.keys(materialNames).map(function(material) {
				return {
					value: material,
					text : materialNames[material]
				};
			});
			materials.sort(function(a, b) {
				if (a.text < b.text) return -1;
				if (a.text > b.text) return 1;
				return 0;
			});

			return {
				results           : "",
				skillLevel        : 600,
				skill             : "Select",
				itemWorkmanship   : 5,
				salvageWorkmanship: 5,
				material          : "Select",
					
				skills: [
					{value: skidArmorTinkering, text: "Armor Tinkering"},
					{value: skidItemTinkering, text: "Item Tinkering"},
					{value: skidMagicItemTinkering, text: "Magic Item Tinkering"},
					{value: skidWeaponTinkering, text: "Weapon Tinkering"}
				],
				materials: materials
			};
		},
		methods: {
			compute() {
				this.results = "";
				var skillNeeded;
				for (var i = 1; i <= 10; i++) {
					var skillNeeded = getSkillNeeded({
						itemWorkmanship   : this.itemWorkmanship,
						material          : this.material,
						salvageWorkmanship: this.salvageWorkmanship,
						attempt           : i
					});
						
					var chance = getMaterialChance({
						skillCurrent: this.skillLevel,
						material    : this.material,
						skillNeeded : skillNeeded
					});

					this.results += "tink #" + i;
					this.results += ", chance: " + round(chance, 1) + "%";
					this.results += " (100% with " + (skillNeeded + 254) + ")";
					this.results += "\n";
				}
			}
		},
	}).mount('#app');

	</script>
</html> 